* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    /* background-image: url(../images/silhouette-of-mountains-1323550.jpg); */
    background-color: #f5f5f5;
}

header {
    height: 60px;
    background-color: #333;
    margin-bottom: 12px;
    display: flex;
}

.logo {
    width: 30%;
    padding: 8px;
    margin-left: 10px;
}

.title {
    font-family: 'Just Another Hand', cursive;
    color: white;
    font-size: 40px;
}

@media screen and (max-width: 500px) {
    .nav {
        display: none;
    }
}

.nav {
    width: 70%;
}

.nav ul {
    font-size: 12px;
    padding: 15px;
    float: right;
}

.nav li {
    display: inline;
    padding: 5px;
}

.nav ul a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: space-around;
}

.main-content {
    /* outline: 1px solid orange; */
    width: 66%;
    background-color: #fff;
}

.sidebar {
    /* outline: 1px solid; */
    width: 30%;
    max-width: 190px;
    background-color: #fff;
    padding: 10px;
}

p {
    color: #5d5d5d;
}

table {
    width: 100%;
    /* Take up as much horizontal space as you */
    border-spacing: 0;
}

th {
    color: #fff;
    background-color: #4285f4;
}

th,
td {
    padding: 8px;
}

.column-1 {
    text-align: left;
}

.column-2 {
    text-align: right;
}

/* 
:hover is the "pseudo-class"
that refers to an element when
a mouse pointer is overlapping 
*/
/* tr:hover {
    background-color: #f9f9f9;
} */

/* This is the descendant selector. 
    It refers to an element anywhere inside
    another element.
*/
tr:hover td {
    /* color: white; */
    /* font-size: 2em; multiply by the current font size */
}

/* 
To apply styles to more than one
selector, list them out
separated by commas. 
*/
.odd-row,
tr:hover {
    background-color: #f9f9f9;
}

.sidebar-heading {
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.container ul a:link,
.container ul a:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: #57ad68;
}

li {
    padding: 8px 0;
    display: block;
    /* outline: 1px solid rgb(169, 169, 169) */
}

ul a:hover {
    text-decoration: underline;
}

.main-content {
    /* outline: 1px solid orange; */
    width: 66%;
    padding: 20px;
}

