html {
    /* background-image: url(../images/silhouette-of-mountains-1323550.jpg); */
}

* {
    /* color: rgb(0, 0, 0); */
    /* color: #000000; */
    /* color: #ffffff; */
    /* color: #000; */
}

p {
    color: #5D5D5D;
}

table {
    width: 100%;
    /* Take up as much horizontal space as you */
}

th {
    color: #fff;
    background-color: #4285f4;
}

.column-1 {
    text-align: left;
}

.column-2 {
    text-align: right;
}

/* 
:hover is the "pseudo-class"
that refers to an element when
a mouse pointer is overlapping 
*/
/* tr:hover {
    background-color: #f9f9f9;
} */

/* This is the descendant selector. 
    It refers to an element anywhere inside
    another element.
*/
tr:hover td {
    /* color: white; */
    /* font-size: 2em; multiply by the current font size */
}

.odd-row, tr:hover {
    background-color: #f9f9f9;
}